@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Tasktracker is a web application created by David Hospodka for a job interview at Eria labs</p>
    <p>It allows users to add tasks, sort and filter them</p>
</div>